<ion-header>
  <ion-toolbar>
    <ion-title>
      ㄱㅅㄱ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="cal_area">
      <input id="calHistory" class="cal_history" type="text" name="" value="" readonly>
      <input id="calScreen" class="cal_screen" type="text" name="" value="" readonly>
    </div>
    <div class="number_area">
      <div>
        <button class="btn_cal" type="button" name="button" value="7">7</button>
        <button class="btn_cal" type="button" name="button" value="8">8</button>
        <button class="btn_cal" type="button" name="button" value="9">9</button>
      </div>
      <div>
        <button class="btn_cal" type="button" name="button" value="4">4</button>
        <button class="btn_cal" type="button" name="button" value="5">5</button>
        <button class="btn_cal" type="button" name="button" value="6">6</button>
      </div>
      <div>
        <button id="btnNum" class="btn_cal" type="button" name="button" value="1">1</button>
        <button class="btn_cal" type="button" name="button" value="2">2</button>
        <button class="btn_cal" type="button" name="button" value="3">3</button>
      </div>
      <div>
        <button class="btn_cal" type="button" name="button" value="0">0</button>
        <button class="btn_cal" type="button" name="button" value=".">.</button>
        <button class="btn_cal" type="button" name="button" value="=">=</button>
      </div>
    </div>
    <div class="area symbol_area">
      <div>
        <button id="symbol1" class="btn_cal btn_small" type="button" name="button" value="<">&lt;</button>
        <button class="btn_cal btn_small" type="button" name="button" value="÷">÷</button>
        <button class="btn_cal btn_small" type="button" name="button" value="×">×</button>
        <button class="btn_cal btn_small" type="button" name="button" value="−">−</button>
        <button class="btn_cal btn_small" type="button" name="button" value="+">+</button>
      </div>
    </div>
  </div>
</ion-content>
